
/* Smaller Screens */

@media (max-width:  1240px) {
    .content {
        padding: 0 30px;
    }

    .content .item .item-desc p {
        padding: 0 20px;
    }
}

/* Tablets/iPad */

@media (max-width: 768px) {

    header {
        position: fixed;
        position: relative;
        background-color: #191919;
        width: 100%;
        padding: 25px 0;
        z-index: 2;
    }

    .logo {
        padding-left: 38px;
    }
    
    .banner {
        height: 515px;
    }

    nav {
        display: none;
    }

    .mobile-nav.active {
        transition: 0.3s;
        top: 90px;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin-right: 38px;
    }

    .burger .line {
        width: 45px;
        height: 6px;
        background-color: #fff;
        margin: 5px 0;
    }

    .active .line:nth-child(1) {
        transform: translate(0px, 11px) rotate(45deg);
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(3) {
        transform: translate(0px, -11px) rotate(-45deg);
    }

    .home-text {
        margin: auto;
        z-index: 0;
    }

    h1 {
        font-size: 50px;
    }

    .title {
        padding: 40px 15px;
    }

    .title h2 {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .content {
        padding: 0 15px;
        padding-bottom: 30px;
    }

    .content .item {
        flex-direction: column;
    }

    .content .item:first-child {
        padding-bottom: 0;
    }

    .content .item .item-desc h3 {
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 20px;
    }

    .content .item img {
        width: 100%;
        height: 400px;
    }

    .subscription h3 {
        font-size: 30px;
    }

    .subscription {
        height: auto;
        padding: 40px 15px;
    }
    .subscription input {
        width: 230px;
        font-size: 16px;
    }
}


/* Mobile */

@media (max-width: 500px) {
    .home-text h1 {
        font-size: 45px;
        text-align: center;
        padding: 0 20px;
        line-height: 50px;
        margin-bottom: 15px;
    }

    .home-text p {
        margin-bottom: 10px;
    }

    .content {
        padding: 0 15px;
    }

    .title h2 {
        font-size: 28px;
    }

    .subscription button {
        padding: 22px;
    }

    .content .item img {
        height: 320px;
    }
}